// mixin media query
$break-small: 576px;
$break-landscape: 480px;
$break-tablet: 768px;
$break-medium: 1200px;

// if have scss intellisense it will autocomplete the variable
$small-phone: small-phone;
$handheld: handheld;
$tablet-portrait-up: tablet-portrait-up;
$tablet-landscape-up: tablet-landscape-up;
$desktop-up: desktop-up;
$big-desktop-up: big-desktop-up;

@mixin respond-to($range) {
	$small-phone-upper-boundary: 576px;
	$phone-upper-boundary: 768px;
	$tablet-portrait-upper-boundary: 900px;
	$tablet-landscape-upper-boundary: 1200px;
	$desktop-upper-boundary: 1800px;

	@if $range == small-phone {
		// <= 576px
		@media (max-width: #{$small-phone-upper-boundary}) {
			@content;
		}
	} @else if $range == handheld {
		// >= 576px
		@media (min-width: #{$small-phone-upper-boundary}) {
			@content;
		}
	} @else if $range == tablet-portrait-up {
		//  >= 768px
		@media (min-width: $phone-upper-boundary) {
			@content;
		}
	} @else if $range == tablet-landscape-up {
		//  >= 900px
		@media (min-width: $tablet-portrait-upper-boundary) {
			@content;
		}
	} @else if $range == desktop-up {
		//  >= 1200px
		@media (min-width: $tablet-landscape-upper-boundary) {
			@content;
		}
	} @else if $range == big-desktop-up {
		//  >= 1800px
		@media (min-width: $desktop-upper-boundary) {
			@content;
		}
	}
}
